= field_set_tag "Client Information" do
  = form.input :client_name, as: :fake, input_html: { value: @assignment.client_company }, disabled: true
  = form.input :contact, as: :fake, input_html: { value: @assignment.contact_name }, disabled: true
  = form.input :contact_email, as: :fake, input_html: { value: @assignment.contact_email }, disabled: true
  = form.input :contact_phone, as: :fake, input_html: { value: @assignment.contact_phone }, disabled: true

= field_set_tag "Assignment Information" do
  = form.input :title
  = form.input :potential_fee

= field_set_tag "Search Agreement" do
  = form.input :agreement_type, as: :select, collection: Assignment::AGREEMENT_TYPES, include_blank: false
  = form.input :agreement_currency, as: :select, collection: Assignment::AGREEMENT_CURRENCIES, include_blank: false
  = form.input :agreement_rate_type, as: :select, collection: Assignment::AGREEMENT_RATE_TYPES, include_blank: false