%h2
  Track progress for #{@assignment.title.titleize}
  %br/
  %small Current stage: #{@assignment.current_stage}

%ol.breadcrumb
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  %li= link_to 'Clients', clients_path
  %li= link_to @assignment.client_company.titleize, client_path(@assignment.client)
  %li= link_to @assignment.contact_name.titleize, contact_path(@assignment.contact)
  %li= link_to @assignment.title.titleize, assignment_path(@assignment)
  %li.active Track Progress


%ul.list-group
  - @workflow_stages.each do |s|
    %li.list-group-item{ class: workflow_stage_class(s) }
      = s.name
      %span.glyphicon{ class: workflow_stage_icon(s) }

- if @assignment.has_actionable_stages?
  = link_to complete_current_stage_assignment_workflow_path(@assignment), class: 'btn btn-success' do
    %span.glyphicon.glyphicon-ok
    Complete Current Stage

  = link_to cancel_current_stage_assignment_workflow_path(@assignment), class: 'btn btn-danger' do
    %span.glyphicon.glyphicon-remove
    Cancel Current Stage

= link_to edit_assignment_workflow_path(@assignment), class: 'btn btn-default btn-success' do
  %span.glyphicon.glyphicon-pencil
  Edit workflow

= link_to assignment_path(@assignment), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-chevron-right
  Go to assignment
