= simple_form_for @client do |f|
  = f.input :company, label: 'Client Company'
  = f.input :email, label: 'Main Email'
  = f.input :phone, label: 'Main Phone'
  = f.input :account_manager

  %button.btn.btn-success{ type: 'submit' }
    %span.glyphicon.glyphicon-floppy-disk
    Save

  = link_to 'Cancel', :back, class: 'btn btn-default'
