%h2
  Listing all clients
  = link_to new_client_path, class: "btn btn-success btn-sm" do
    %span.glyphicon.glyphicon-plus
    Create

%ol.breadcrumb
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  %li.active Clients

- if @clients.empty?
  .alert.alert-info No clients found

- else
  %table.table.table-striped
    %thead
      %tr
        %th Client Company
        %th Email
        %th Phone
        %th Account Manager
        %th Number of contacts
        %th

    %tbody
      - @clients.each do |c|
        %tr
          %td= link_to c.company.titleize, client_path(c)
          %td= c.email
          %td= c.phone
          %td= c.account_manager
          %td= c.contacts.size
          %td.actions
            = link_to client_path(c), class: 'btn btn-default btn-xs' do
              %span.glyphicon.glyphicon-eye-open
              View