= form.input :name, label: 'Contact Name'
= form.input :job_title
= form.input :email
= form.input :phone
= form.input :account_manager

%button.btn.btn-success{ type: 'submit' }
  %span.glyphicon.glyphicon-floppy-disk
  Save

= link_to 'Cancel', :back, class: 'btn btn-default'
