%h2 Edit Contact: #{@client.company}

%ol.breadcrumb
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  %li= link_to 'Clients', clients_path
  %li= link_to @client.company.titleize, client_path(@client)
  %li= link_to @contact.name.titleize, client_contact_path(@client, @contact)
  %li.active Edit

.row
  .col-md-6
    = render 'form'