%h2 Edit Contact: #{@contact.client_company}

%ol.breadcrumb
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  %li= link_to 'Clients', clients_path
  %li= link_to @contact.client_company.titleize, client_path(@contact.client)
  %li= link_to @contact.name.titleize, contact_path(@contact)
  %li.active Edit

.row
  .col-md-6
    = render 'form'