%h2 New Contact at #{@client.company.titleize}

%ol.breadcrumb
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  %li= link_to 'Clients', clients_path
  %li= link_to @client.company.titleize, client_path(@client)
  %li.active New contact

.row
  .col-md-6
    = simple_form_for [@client, @contact] do |form|
      = render 'form', form: form