%h2
  Contact:
  = @contact.name.titleize

%ol.breadcrumb
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  %li= link_to 'Clients', clients_path
  %li= link_to @contact.client_company.titleize, client_path(@contact.client)
  %li.active= @contact.name.titleize


%table.table.table-striped
  %tr
    %td.attribute Client Company
    %td.value= @contact.client_company
  %tr
    %td.attribute Main Email
    %td.value= @contact.client_email
  %tr
    %td.attribute Main Phone
    %td.value= @contact.client_phone
  %tr
    %td.attribute Account Manager
    %td.value= @contact.client_account_manager

= link_to edit_contact_path(@contact), class: 'btn btn-default btn-success' do
  %span.glyphicon.glyphicon-edit
  Edit
= link_to contact_path(@contact), class: 'btn btn-default btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do
  %span.glyphicon.glyphicon-trash
  Delete
= link_to 'Cancel', :back, class: 'btn btn-default'